<section
  class="feature overflow-hidden text-slate-950 py-28 lg:px-[3.125rem] sm:px-[1.125rem] flex flex-col gap-10"
>
  <div class="flex gap-12 flex-col items-center md:w-[60%] mx-auto">
    <span
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
      class="inline-flex border-gray-200 font-semibold rounded-lg w-fit px-2 text-black border-[.0625rem]"
      >Boost your productivity</span
    >

    <h2
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-2000"
      class="text-4xl sm:text-6xl text-center"
    >
      A more effective way <br />
      to track progress
    </h2>
    <p
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-2000"
      class="about-discriptions font-medium text-[1rem] sm:text-[1.375rem] text-center max-w-[90%] sm:w-[75%]"
    >
      Effortlessly turn your ideas into a fully functional, responsive, no-code
      SaaS website in just minutes with the set of free components for Framer.
    </p>
  </div>

  <div
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-2000"
    leaveClass="animate-leave fade-out-0"
    class="relative"
  >
    <img src="/product-image.png" class="w-full" alt="product-image" />
    <img
      src="/pyramid.png"
      class="pyramid absolute top-[20%] right-[-8%] w-1/5"
      alt=""
    />
    <img
      src="/tube.png"
      class="tube absolute top-[57%] left-[-7%] w-1/5"
      alt=""
    />
  </div>
  <div
    class="grid max-sm:grid-cols-1 sm:grid-cols-1 items-center md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-1 lg:gap-5 lg:px-10"
  >
    @for (data of featurData; track $index) {
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col justify-center gap-3 mb-3 max-lg:p-10 items-start"
    >
      <img [src]="data.icon" class="size-6" [alt]="data.title" />
      <h3 class="text-lg font-bold">{{ data.title }}</h3>
      <p class="font-medium text-lg">{{ data.disc }}</p>

      <app-learnmore></app-learnmore>
    </div>
    }
  </div>
</section>
