.feature {
  background-image: linear-gradient(to bottom, #ffffff, #d2dcff);
}

h2 {
  font-size: 3.325rem;
  flex-grow: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  background-image: linear-gradient(to bottom, #000 0%, #001354);
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  letter-spacing: -2.85px;
  line-height: 1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-discriptions {
  color: #010d3e;
  line-height: 1.41;
}

.tube,
.pyramid {
  animation: "animationc" 5s infinite;
}
@keyframes animationc {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.625rem);
  }
  100% {
    transform: translateY(0);
  }
}
