<section
  class="contact overflow-hidden flex justify-center items-center py-[8.25rem] bg-blue-50"
>
  <div class="flex gap-12 flex-col items-center md:w-[45%] px-2 relative">
    <h2
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="text-4xl sm:text-6xl"
    >
      Sign up for free today
    </h2>
    <p
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-3000"
      leaveClass="animate-leave fade-out-0"
      class="about-discriptions font-medium max-sm:text-[1rem]! text-center"
    >
      Celebrate the joy of accomplishment with an app designed to track your
      progress and motivate your efforts.
    </p>

    <div class="flex items-center gap-2.5">
      <a href="#" class="bg-black text-white px-3.5 py-2.5 rounded-lg"
        >Get for free</a
      >
      <app-learnmore></app-learnmore>
    </div>

    <img
      src="/star.png"
      class="star absolute w-3/5 right-[100%] bottom-[0%]"
      alt="star"
    />
    <img
      src="/spring.png"
      class="spring absolute w-3/5 left-[100%] top-0"
      alt="spring"
    />
  </div>
</section>
