h2 {
  font-size: 3.625rem;
  flex-grow: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  background-image: linear-gradient(to bottom, #000 0%, #001354);
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  letter-spacing: -2.85px;
  line-height: 1;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-discriptions {
  color: #010d3e;
  line-height: 1.41;
}
