<section
  class="text-slate-900 overflow-hidden py-28 lg:px-[104px] sm:px-32 flex flex-col gap-[3.75rem]"
>
  <div class="flex gap-12 flex-col items-center md:w-[60%] mx-auto">
    <span
      class="inline-flex border-gray-200 font-semibold rounded-lg w-fit px-2 text-black border-[.0625rem]"
      >Everything you need</span
    >

    <h2
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-2000"
      class="text-4xl sm:text-6xl text-center"
    >
      Streamlined for easy<br />
      management
    </h2>
    <p
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 zoom-in-75 animate-duration-2000"
      class="about-discriptions font-medium text-[1.375rem] text-center w-[75%]"
    >
      Enjoy customizable lists, team work tools, and smart tracking all in one
      place. Set tasks, get reminders, and see your progress simply and quickly.
    </p>
  </div>
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-2000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col shadow-lg rounded-lg text-center bg-white py-10 max-md:mx-[3.1563rem]"
    >
      <img src="./cube-helix 1.png" class="w-[75%] mx-auto" alt="" />
      <h3 class="text-2xl py-4 font-bold">Integration ecosystem</h3>
      <p class="font-medium text-lg w-[75%] mx-auto">
        Enhance your productivity by connecting with your favorite tools,
        keeping all your essentials in one place.
      </p>
    </div>
    <div
      pAnimateOnScroll
      enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-2000"
      class="flex flex-col shadow-lg rounded-lg text-center bg-white py-10 max-md:mx-[3.1563rem]"
    >
      <img src="./cube-helix 2.png" class="w-[75%] mx-auto" alt="" />
      <h3 class="text-2xl py-4 font-bold">Goal setting and tracking</h3>
      <p class="font-medium text-lg w-[75%] mx-auto">
        Define and track your goals, breaking down objectives into achievable
        tasks to keep your targets in sight.
      </p>
    </div>
  </div>
</section>
