<div class="flex gap-12 flex-col items-center md:w-[60%] mx-auto my-7">
  <span
    class="inline-flex border-gray-200 font-semibold rounded-lg w-fit px-2 text-black border-[.0625rem]"
    >Testimonials</span
  >

  <h2
    pAnimateOnScroll
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-2000 "
    class="text-4xl sm:text-6xl text-center"
  >
    What our users say
  </h2>
</div>

<div
  class="marqu grid max-sm:grid-cols-1 max-md:grid-cols-2 grid-cols-3 px-[2rem] md:px-[5rem] my-[4.375rem] gap-5"
>
  <div class="wraper">
    <div class="wraberone one flex flex-col gap-2 p-10 shadow">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsum dolor sit amet. amet consectetur adip dolorem
        assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-6.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">jose Smith</h4>
          <p>jjsmith</p>
        </div>
      </div>
    </div>

    <div class="wraberone two flex flex-col gap-2 p-10 shadow *:">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsum dolor sit amet. amet consectetur adip dolorem
        assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-5.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">jose Smith</h4>
          <p>jjsmith</p>
        </div>
      </div>
    </div>
    <div class="wraberone three flex flex-col gap-2 p-10 shadow *:">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsum dolor sit amet. amet consectetur adip dolorem
        assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-4.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">jose Smith</h4>
          <p>jjsmith</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wraper max-sm:hidden">
    <div class="wrabertwo on flex flex-col gap-2 mx-2 p-5 shadow">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsum dolor sit amet. amet consectetur adip dolorem
        assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-7.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">jose Smith</h4>
          <p>jjsmith</p>
        </div>
      </div>
    </div>

    <div class="wrabertwo tw flex flex-col gap-2 mx-2 p-5 shadow">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsum dolor sit a ipsum dolor sit amet. amet consectetur
        adip dolorem assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-8.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">welly Smith</h4>
          <p>Oliver</p>
        </div>
      </div>
    </div>
    <div class="wrabertwo thre flex flex-col gap-2 mx-2 p-5 shadow">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsum t. amet consectetur adip dolorem assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-9.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">kemo kafoo</h4>
          <p>kekoo farouh</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wraper">
    <div class="wraberone one flex flex-col gap-2 p-10 shadow">
      <p class="font-semibold">
        Lorem ipsum dolor sit L ipsum dolor sit a ipsum dolor sit a ipsum dolor
        sit ar sit amet. amet. Lorem ipsum dolor sit Lorem ipsum dolor sit amet.
        amet consectetur adip dolorem assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-1.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">jose Smith</h4>
          <p>bekham f</p>
        </div>
      </div>
    </div>

    <div class="wraberone two flex flex-col gap-2 p-10 shadow *:">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsum ipsum dolor sit amet. amet consectetur adip
        dolorem assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-2.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">jose Smith</h4>
          <p>taylor fadoo</p>
        </div>
      </div>
    </div>
    <div class="wraberone three flex flex-col gap-2 p-10 shadow *:">
      <p class="font-semibold">
        Lorem ipsum dolor sit Lorem ipsum dolor sit amet. amet. Lorem ipsum
        dolor sit Lorem ipsmet consectetur adip dolorem assum
      </p>

      <div class="flex gap-3">
        <img src="/avatar-3.png" class="size-14" alt="avatar" />
        <div>
          <h4 class="font-semibold">karee Farouh jose</h4>
          <p>kafoo7</p>
        </div>
      </div>
    </div>
  </div>
</div>
